<div class="p-col-12">
    <div class="card">
        <h5>Solicitar trabajo remoto</h5>
        <form [formGroup]="formModel">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-12">
                    <label>Motivo</label>
                    <textarea rows="5" cols="100" pInputTextarea [(ngModel)]="baja.motivo" formControlName="motivo" maxlength="255"
                        required></textarea>
                    <small class="p-error"
                        *ngIf="formModel.get('motivo').invalid && guardarPulsado">{{getEmailErrorMessage()}}</small>
                </div>
            </div>

        </form>
        <label>Adjuntar archivo médico</label>

        <form class="mt-05" action="/upload" method="post" enctype="multipart/form-data" [formGroup]="formModel">
            <input class="file" type="file" name="file" (change)="selectFile($event)" accept=".pdf" formControlName="files"/>

        </form>
        <div class="p-pt-5 p-pb-5" style="width: max-content;">
            <button pButton type="button" icon="pi pi-check" iconPos="left" label="Guardar solicitud trabajo remoto"
                style="width: 100%" (click)="onSubmit()"></button>
        </div>
		<h5 *ngIf="totalRecords === 0">Sin solicitudes para modificar la actividad laboral(trabajo remoto) presentadas</h5>
        <h5 *ngIf="totalRecords > 0">Solicitudes trabajo remoto presentadas</h5>
        <p-table #dt [value]="solicitudesBaja" dataKey="id" *ngIf="totalRecords > 0"
					 styleClass="p-datatable-customers" [rowHover]="true" [rows]="5" [paginator]="true"
					 [filterDelay]="0" [globalFilterFields]="['motivo','fecha_solicitud','aprobada','fecha_aprobacion']" 
                     [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-responsive-demo">
				<ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Búsqueda" />
                        </span>
                    </div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th pSortableColumn="id_solicitud" style="width: 5%">
							<div class="p-d-flex p-jc-between p-ai-center">
								ID
							</div>
						</th>
						<th style="width: 20%">
							<div class="p-d-flex p-jc-between p-ai-center">
								Motivo
								<p-sortIcon field="motivo"></p-sortIcon>
							</div>
						</th>
						<th pSortableColumn="fecha_solicitud" style="width: 10%">
							<div class="p-d-flex p-jc-between p-ai-center">
								Fecha solicitud
								<p-sortIcon field="fecha_solicitud"></p-sortIcon>
							</div>
						</th>
						<th pSortableColumn="aprobada" style="width: 10%">
							<div class="p-d-flex p-jc-between p-ai-center">
								Estado
								<p-sortIcon field="aprobada"></p-sortIcon>
							</div>
						</th>
                        <th pSortableColumn="fecha_aprobacion" style="width: 10%">
							<div class="p-d-flex p-jc-between p-ai-center">
								Fecha aprobación
								<p-sortIcon field="fecha_aprobacion"></p-sortIcon>
							</div>
						</th>
						<th style="width: 5%">
							<div class="p-d-flex p-jc-between p-ai-center">
								Detalle
							</div>
						</th>
                        <th style="width: 5%">
							<div class="p-d-flex p-jc-between p-ai-center">
								Descargar archivo
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-solicitud>
					<tr class="p-selectable-row">					
						<td>
							<span class="p-column-title">Identificador solicitud</span>
							{{solicitud.id_solicitud_baja}}
						</td>
						<td>
							<span class="p-column-title">Motivo</span>
							{{solicitud.motivoCorto}}
						</td>
                        <td>
							<span class="p-column-title">Fecha solicitud</span>
                            {{solicitud.fecha_creacion}}
                        </td>
						<td>
							<span class="p-column-title">Estado</span>
							<span *ngIf="solicitud.aprobada !== 'En revisión'" [class]="'solicitud estado-' + solicitud.aprobada">{{solicitud.aprobada}}</span>
                            <span *ngIf="solicitud.aprobada === 'En revisión'" [class]="'solicitud estado-' + null">{{solicitud.aprobada}}</span>
						</td>
						<td *ngIf="solicitud.fecha_aprobacion !== null">
							<span class="p-column-title">Fecha aprobación</span>
							{{solicitud.fecha_aprobacion}}
						</td>
                        <td *ngIf="solicitud.fecha_aprobacion === null">
							<span class="p-column-title">Fecha aprobación</span>
							-
						</td>
						<td>
                            <span class="p-column-title">Detalle</span>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-mr-2" (click)="getSolicitud(solicitud)"></button>
                            
                        </td>
                        <td>
							<span class="p-column-title">Descargar</span>
                            <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-mr-2" (click)="download(solicitud)"></button>
                            
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">Sin solicitudes de baja registradas.</td>
					</tr>
				</ng-template>
			</p-table>
    </div>
	<app-detalle-solicitud-baja #detalleSolicitudBaja *ngIf="mostrarDetalle"  (cerrarDetalle) = "cerrarDetalle($event)" [solicitud]="solicitud"></app-detalle-solicitud-baja>
</div>
