<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-menu-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-horizontal': isHorizontal(),
                'layout-mobile-active': overlayMenuMobileActive,
                'layout-fullwidth': app.wrapperMode, 'p-input-filled': app.inputStyle === 'filled', 'p-ripple-disabled': !app.ripple}" [class]="app.layout">

    <div class="layout-content-wrapper">
        
        <p-toast position="top-right"></p-toast>
        
        <app-topbar [usuarioLogueado] = "usuario" (logoutEmit) = "logout($event)"></app-topbar>

        <app-menu [usuarioLogueado] = "usuario"></app-menu>

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

        <div class="layout-mask"></div>
    </div>
</div>
