<div class="p-col-12">
    <p-confirmDialog  key='updateUsuario'
                             [style]="{width: '50%'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <div class="card">
        <h5 *ngIf="role != 'C'">Información personal</h5>
        <form *ngIf="role != 'C'" [formGroup]="formModel" (ngSubmit)="login()">
        <div class="p-fluid p-formgrid p-grid" *ngIf = "usuario != undefined">
            <div class="p-field p-col-12 p-md-6">
                <label for="nombre6">Nombre</label>
                <input id="nombre6" [readonly]= "edit" type="text" formControlName="nombre" [(ngModel)]="usuario.nombre" maxlength="40" pInputText>
                <small class="p-error" *ngIf="!edit && this.formModel.get('nombre').invalid">{{getNombreErrorMessage()}}</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label>Primer apellido</label>
                <input [readonly]= "edit" type="text" formControlName="apellido1" [(ngModel)]="usuario.apellido1" maxlength="40" pInputText>
                <small class="p-error" *ngIf="!edit && this.formModel.get('apellido1').invalid">{{getApellido1ErrorMessage()}}</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label>Segundo apellido</label>
                <input [readonly]= "edit" type="text" formControlName="apellido2" [(ngModel)]="usuario.apellido2" maxlength="40" pInputText>
                <small class="p-error" *ngIf="!edit && this.formModel.get('apellido2').invalid">{{getApellido1ErrorMessage()}}</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="nif6">DNI/NIF/NIE</label>
                <input id="nif6" [readonly]= "edit" type="text" formControlName="nif" [(ngModel)]="usuario.nif" maxlength="9"  minlength="9" pInputText>
                <small class="p-error" *ngIf="!edit && this.formModel.get('nif').invalid">{{getNifErrorMessage()}}</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="email6">Correo electrónico</label>
                <input id="email6"  readonly= "true" type="text" formControlName="email" [(ngModel)]="usuario.email"pInputText>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="fechaNacimiento6">Fecha nacimiento</label>
                <app-datepicker *ngIf="!edit" [(date)]="usuario.fecha_nacimiento" [(control)]="formModel.controls.fechaNac" (getDate)="sendDate($event,'fecha_nacimiento')"></app-datepicker>
                <input *ngIf="edit" id="fechaNacimiento6" readonly = "true" type="text" formControlName="fechaNac" [(ngModel)]="usuario.fecha_nacimiento" pInputText>
                <small class="p-error" *ngIf="!edit && this.formModel.get('fechaNac').invalid">{{getFechaNacimientoErrorMessage()}}</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="fechaIncorporacion6">Fecha alta en el sistema</label>
                <input id="fechaIncorporacion6" readonly= "true" type="text" formControlName="fechaAlta" [(ngModel)]="usuario.fecha_alta"pInputText>
            </div>
        </div>
    </form>
         <h5 *ngIf="role != 'C'">Jornada laboral</h5>
         <form *ngIf="role != 'C'" [formGroup]="formModel">
            <div class="p-fluid p-formgrid p-grid" *ngIf = "usuario != undefined">
                <div class="p-field p-col-12 p-md-4">
                    <label>Hora inicio</label>
                    <input readonly= "true" type="text" formControlName="horaInicio"  [(ngModel)]="usuario.horaInicio" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label>Hora fin</label>
                    <input readonly= "true" type="text" formControlName="horaFin"[(ngModel)]="usuario.horaFin" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label>Total horas semanales</label>
                    <input readonly= "true" type="text" formControlName="horasSemanales" [(ngModel)]="usuario.horasSemanales" pInputText>
                </div>
            </div>
         </form>

         <h5 *ngIf="role === 'C'">Información general</h5>
         <h5 *ngIf="role !== 'C'">Información sucursal</h5>
         <form [formGroup]="formModel">
         <div class="p-fluid p-formgrid p-grid" *ngIf = "sucursal != undefined ||usuario !=undefined">
             <div class="p-field p-col-12 p-md-6">
                 <label for="nombre6">Nombre</label>
                 <input *ngIf="role === 'C'" id="nombre6" readonly= "true" type="text" formControlName="nombreSucursal" [(ngModel)]="sucursal.nombre" pInputText>
                 <input *ngIf="role !== 'C'" readonly= "true" type="text" formControlName="nombreSucursal" [(ngModel)]="usuario.nombreSucursal" pInputText>
             </div>
             <div *ngIf="role === 'C'" class="p-field p-col-12 p-md-6">
                 <label>NIF</label>
                 <input readonly= "true" type="text" formControlName="nif" [(ngModel)]="sucursal.nif"pInputText>
             </div>
             <div *ngIf="role === 'C'" class="p-field p-col-12 p-md-6">
                 <label>Correo electrónico</label>
                 <input readonly= "true" type="text" formControlName="email" [(ngModel)]="sucursal.email"pInputText>
             </div>
             <div class="p-field p-col-12 p-md-6">
                 <label >Dirección</label>
                 <input *ngIf="role === 'C'" readonly= "true" type="text" formControlName="direccion" [(ngModel)]="sucursal.direccion"pInputText>
                 <input *ngIf="role !== 'C'" readonly= "true" type="text" formControlName="direccion" [(ngModel)]="usuario.direccionSucursal" pInputText>
             </div>
             <div *ngIf="role === 'C'" class="p-field p-col-12 p-md-6">
                <label >Fecha alta en sistema</label>
                <input readonly= "true" type="text" formControlName="fechaAlta" [(ngModel)]="sucursal.fecha_creacion"pInputText>
            </div>
            <div *ngIf="role === 'C'" class="p-field p-col-12 p-md-6">
            </div>
            <div *ngIf="role === 'C'" class="p-field p-col-12 p-md-6">
                <label >Número de empleados</label>
                <input readonly= "true" type="text" formControlName="numEmpleados" [(ngModel)]="numEmpleados"pInputText>
            </div>
            <div *ngIf="role === 'C'" class="p-field p-col-12 p-md-6">
                <label >Número de directivos</label>
                <input readonly= "true" type="text" formControlName="numDirectivos" [(ngModel)]="numDirectivos"pInputText>
            </div>
         </div>
     </form>
    </div>


    <p-dialog [(visible)]="cambioPassword" [style]="{width: '40%'}"  header="Cambio de contraseña" styleClass="my-style-class" (onHide)="cancel()">
        <ng-template pTemplate="content">
        <form [formGroup]="formModelPassword">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-12">
                    <label>Contraseña actual</label>
                    <input type="password" pPassword [feedback] = "false" [(ngModel)]="usuarioCambioPassword.password" formControlName="password"/>
                    <small class="p-error" *ngIf="this.formModelPassword.get('password').invalid">{{getPasswordMessage()}}</small>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <label>Nueva contraseña</label>
                    <input type="password" pPassword [feedback] = "false" [(ngModel)]="usuarioCambioPassword.newPassword" strongRegex formControlName="newPassword"/>
                    <small class="p-error" *ngIf="this.formModelPassword.get('newPassword').invalid">{{getNewPasswordMessage()}}</small>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <label>Repita la contraseña</label>
                    <input type="password" pPassword [feedback] = "false" [(ngModel)]="usuarioCambioPassword.newPassword2" strongRegex formControlName="newPassword2"/>
                    <small class="p-error" *ngIf="this.formModelPassword.get('newPassword2').invalid || this.comprobarPasswordIguales()">{{getNewPassword2Message()}}</small>
                </div>    
                <p class="p-mt-2">La nueva contraseña debe contener</p>
                <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                    <li>Al menos una minúscula</li>
                    <li>Al menos una mayúscula</li>
                    <li>Al menos un número</li>
                    <li>Al menos un carácter especial</li>
                    <li>Longitud mínima 8</li>
                </ul>
            </div>
        </form>
        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Confirmar" icon="pi pi-check" class="p-button-text" (click)="guardarPassword()" [disabled]="!isValidFormPassword() || comprobarPasswordIguales()"></button>
        </ng-template>
    </p-dialog>
</div>

<div class="p-formgroup-inline p-pt-3 p-pl-2">
    <div class="p-field">
        <button *ngIf="role !== 'C'" pButton type="button" icon="pi pi-pencil" iconPos="left" label="Editar datos" style="width: 100%" (click)="editar()" [disabled]="!edit"></button>
    </div>
    <div class="p-field">
        <button pButton type="button" icon="pi pi-pencil" iconPos="left" label="Cambiar contraseña" style="width: 100%" (click)="cambiarPassword()"></button>
    </div>
    <div class="p-field">
        <button *ngIf="!edit" pButton type="button" icon="pi pi-save" iconPos="left" label="Guardar cambios" style="width: 100%" (click)="guardarCambios()"  [disabled]="!isValidForm()"></button>
    </div>
</div>
