<div class="login-body">
    <div class="mobile-banner">
        <img  width="64px"    src="assets/resources/logo2.png" alt="prestige-layout"/>
    </div>
    <div class="login-panel">
        <div class="logo">
            <img src="assets/resources/logo2.png" alt="prestige-layout"/>
        </div>
    </div>

    <div class="login-card">
        <div class="top-border"></div>
        <div class="login-content">
            <h1>Login</h1>
            <p class="p-login">Introduzca sus credenciales.</p>
            <p-message severity="error" text="{{errorLoginText}}" *ngIf = "errorLogin"></p-message>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="username-container mt2">
                <label>Correo electrónico</label>
                <div class="login-input">
                    <input type="text" placeholder="Introduzca su correo electrónico" formControlName="email" required pInputText>
                    <small class="p-error" *ngIf="loginForm.get('email').invalid && loginPulsado">{{getEmailErrorMessage()}}</small>
                </div>
            </div>
            <div class="password-container">
                <label>Contraseña</label>
                <div class="login-input">
                    <input type="password" autocomplete="off" placeholder="Introduzca su contraseña" formControlName="password" required pInputText>
                    <small class="p-error" *ngIf="loginForm.get('password').invalid && loginPulsado">{{getPasswordErrorMessage()}}</small>
                </div>
            </div>
            <div>
                <button pButton type="button" label="Entrar" style="width: 100%" (click)="login()"></button>
            </div>
        </form>
        </div>
    </div>
</div>

