<div class="p-col-12">
    <p-confirmDialog  key='altaNoticia'
                             [style]="{width: '50%'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <div class="card">
        <h5>Alta de una noticia</h5>
        <form [formGroup]="formModel">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <label>Título</label>
                <input type="text" formControlName="titulo" [(ngModel)]="noticia.titulo" maxlength="45" required pInputText>
                <app-validator-message [model]="formModel.get('titulo')"></app-validator-message>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <label>Descripción</label>
                <textarea  rows = "5" pInputTextarea [(ngModel)]="noticia.descripcion" formControlName="descripcion" maxlength="255"
                        required></textarea>
                        <app-validator-message [model]="formModel.get('descripcion')"></app-validator-message>
            </div>
        </div>
    </form>
</div>
<div class="p-pt-3 p-pl-2" style="width: max-content;">
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Guardar" style="width: 100%" (click)="addNoticia()" [disabled]="!isValidForm()"></button>
</div>

