<div class="p-col-12">
    <p-confirmDialog key='altaEpi' [style]="{width: '50%'}" acceptButtonStyleClass="p-button-text"
        rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <div class="card">
        <h5>Alta de un equipo de protección individual</h5>
        <form [formGroup]="formModel">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label>Lote</label>
                    <input type="text" formControlName="lote" [(ngModel)]="epi.lote" required pInputText>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>Cantidad</label>
                    <p-inputNumber formControlName="cantidad" [(ngModel)]="epi.cantidad" [min]="0" [max]="1000"
                        [maxlength]="4"> </p-inputNumber>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>Tipo</label>
                    <p-dropdown [options]="tipoEpiSel" [(ngModel)]="tipoEpiSelected" optionLabel="descripcion"
                        optionValue="id_tipo_epi" placeholder="Seleccione tipo de epi"
                        emptyMessage="No se han encontrado resultados" formControlName="tipo"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="fecha6">Fecha de disponibilidad</label>
                    <app-datepicker [(date)]="epi.fecha_disponibilidad" [(control)]="formModel.controls.fecha_disponibilidad" (getDate)="sendDate($event,'fecha_disponibilidad')"></app-datepicker>
    
                </div>
            </div>
        </form>
    </div>
    <div class=" p-formgroup-inline p-pt-3 p-pl-2" style="width: max-content;">
        <div class="p-field">
        <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Guardar" style="width: 100%"
            (click)="addEpi()" [disabled]="!isValidForm()"></button>
        </div>
    </div>
</div>
